<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="__PUBLIC__/css/style.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/app.css" />
		
		<script src="__PUBLIC__/js/jquery-2.1.0.min.js"></script>
		<script src="__PUBLIC__/js/common.js"></script>
		<script src="__PUBLIC__/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="wap">
			<header id="header">
				<div class="main-header kdesktop">
					
				</div>
			</header>
			<div id="main">
				<div class="container ksite-manager-list-type kdesktop">
					<div id="options">
						<ul class="option-set clearfix">
							<li><a onclick="hot(1)" class="show_manager_tab selected">热门公司</a></li>
							<li><a onclick="hot(2)" class="show_manager_tab">热门职位</a></li>
							<li class="pull-right web_job_search_li">
								<form method="post" id="form_search" name="form_search">
									<div class="input-group">
										<input type="text" name="position" id="position" class="search-input" placeholder="搜职位，如：PHP开发工程师"/>
										<span class="input-group-btn">
											<button class="btn btn-primary" type="submit" style="height: 38px;">搜索</button>
										</span>
									</div>
								</form>
							</li>
						</ul>
					</div>
				</div>
				<div class="container">
					<div class="company_container">
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 manager_item_new">
							<ul class="ksite-manager-item">
								<ul class="uparea">
									<li class="new_job_title el" title="BestMinr/百思CEO&Cofounder">BestMinr/百思CEO&Cofounder</li>
									<li class="new_header clearfix">
										<div class="new_avatar pull-left">
											<a href=""><img src="" alt="" /></a>
										</div>
										<div class="pull-left">
											<div class="new_uname el">张总 <span class="email"></span></div>
										</div>
									</li>
								</ul>
								<li class="company_tag">
									<div class="tag_inline">
										<i class="fa fa-tag"></i>
										知名企业
									</div>
								</li>
								<li class="job_info">
									<div class="title">招聘信息</div>
									<div style="height: 50px;" class="position_list">职位列表</div>
								</li>
								<li class="action-bar">
									<a href="" class="btn btn-info">查看详情</a>
								</li>
							</ul>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<ul class="ksite-manager-item">
								<ul class="uparea">
									<li class="new_job_title el" title="BestMinr/百思CEO&Cofounder">BestMinr/百思CEO&Cofounder</li>
									<li class="new_header clearfix">
										<div class="new_avatar pull-left">
											<a href=""><img src="" alt="" /></a>
										</div>
										<div class="pull-left">
											<div class="new_uname el">张总 <span class="email"></span></div>
										</div>
									</li>
								</ul>
								<li class="company_tag">
									<div class="tag_inline">
										<i class="fa fa-tag"></i>
										知名企业
									</div>
								</li>
								<li class="job_info">
									<div class="title">招聘信息</div>
									<div style="height: 50px;">职位列表</div>
								</li>
								<li class="action-bar">
									<a href="" class="btn btn-info">查看详情</a>
								</li>
							</ul>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<ul class="ksite-manager-item">
								<ul class="uparea">
									<li class="new_job_title el" title="BestMinr/百思CEO&Cofounder">BestMinr/百思CEO&Cofounder</li>
									<li class="new_header clearfix">
										<div class="new_avatar pull-left">
											<a href=""><img src="" alt="" /></a>
										</div>
										<div class="pull-left">
											<div class="new_uname el">张总 <span class="email"></span></div>
										</div>
									</li>
								</ul>
								<li class="company_tag">
									<div class="tag_inline">
										<i class="fa fa-tag"></i>
										知名企业
									</div>
								</li>
								<li class="job_info">
									<div class="title">招聘信息</div>
									<div style="height: 50px;">职位列表</div>
								</li>
								<li class="action-bar">
									<a href="" class="btn btn-info">查看详情</a>
								</li>
							</ul>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<ul class="ksite-manager-item">
								<ul class="uparea">
									<li class="new_job_title el" title="BestMinr/百思CEO&Cofounder">BestMinr/百思CEO&Cofounder</li>
									<li class="new_header clearfix">
										<div class="new_avatar pull-left">
											<a href=""><img src="" alt="" /></a>
										</div>
										<div class="pull-left">
											<div class="new_uname el">张总 <span class="email"></span></div>
										</div>
									</li>
								</ul>
								<li class="company_tag">
									<div class="tag_inline">
										<i class="fa fa-tag"></i>
										知名企业
									</div>
								</li>
								<li class="job_info">
									<div class="title">招聘信息</div>
									<div style="height: 50px;">职位列表</div>
								</li>
								<li class="action-bar">
									<a href="" class="btn btn-info">查看详情</a>
								</li>
							</ul>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<ul class="ksite-manager-item">
								<ul class="uparea">
									<li class="new_job_title el" title="BestMinr/百思CEO&Cofounder">BestMinr/百思CEO&Cofounder</li>
									<li class="new_header clearfix">
										<div class="new_avatar pull-left">
											<a href=""><img src="" alt="" /></a>
										</div>
										<div class="pull-left">
											<div class="new_uname el">张总 <span class="email"></span></div>
										</div>
									</li>
								</ul>
								<li class="company_tag">
									<div class="tag_inline">
										<i class="fa fa-tag"></i>
										知名企业
									</div>
								</li>
								<li class="job_info">
									<div class="title">招聘信息</div>
									<div style="height: 50px;">职位列表</div>
								</li>
								<li class="action-bar">
									<a href="" class="btn btn-info">查看详情</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer id="foot">
			<div class="row">
			<div id="social-icons" class="col-xs-12">
				<a href="" class="icon-gplus" target="_blank"><i class="fa fa-weibo fa-2x"></i>新浪微博</a>
			</div>
			<div id="copyrights" class="col-xs-12">
				<section class="copyright">All content copyright <a href="">Ghost 中文网</a> © 2015 • All rights reserved.</section>
				<section class="poweredby">All content copyright&nbsp;<a href="">陈业</a> © 2015 • All rights reserved.</section>
				<section class="beian"><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11008151号</a> | 京公网安备11010802014853</section>
			</div>
		</div>
		</footer>
	</body>
</html>
