body{
	background-color: #eee;
	margin: 0px;
	padding: 0px;
	font-family: Microsoft YaHei,simsun,Arial,sans-serif;
	color: #333;
}
.login_wall{
	position: absolute;
	width: 500px;
	height: 320px;
	background-color:#e3e3e4;
	border-radius: 8px;
}