		<footer id="foot">
			<div class="row">
			<div id="social-icons" class="col-xs-12">
				<a href="" class="icon-gplus" target="_blank"><i class="fa fa-weibo fa-2x"></i>新浪微博</a>
			</div>
			<div id="copyrights" class="col-xs-12">
				<section class="copyright">All content copyright <a href="">Ghost 中文网</a> © 2015 • All rights reserved.</section>
				<section class="poweredby">All content copyright&nbsp;<a href="">陈业</a> © 2015 • All rights reserved.</section>
				<section class="beian"><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11008151号</a> | 京公网安备11010802014853</section>
			</div>
		</div>
		</footer>