<include file="Common:header" />
		<main class="main_container">
			<div class="container_box">
				<div class="main_left" id="main_left">
					<div id="user_info">
						<span>当前用户：{$Think.session.user_name}</span>
					</div>
					<div id="left_head" onclick="toggle_left_menu()">
						<span>文章</span>
						<b class="fa fa-angle-down pull-right" id="left_menu_icon"></b>
					</div>
					<ul id="left_menu" class="nav nav-list">
						<li>
							<a href="{:U('Article/index')}">
								<i class="fa fa-angle-right"></i>
								<span class="menu_text">文章列表</span>
							</a>
						</li>
						<li>
							<a href="{:U('Article/add')}">
								<i class="fa fa-angle-right"></i>
								<span class="menu_text">写文章</span>
							</a>
						</li>
						<li>
							<a href="{:U('ArticleTag/index')}">
								<i class="fa fa-angle-right"></i>
								<span class="menu_text">添加分类</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="main_content">
					<div id="breadcrumbs" class="breadcrumbs">
						<ul class="breadcrumb">
							<li><i class="fa fa-home home-icon"></i><a href="/">Home</a></li>
							<li>文章</li>
							<li>文章列表</li>
						</ul>
					</div>
					<div class="page_content">
						<div class="row">
							<div class="col-xs-12">
								{:W('PageHeader/Render',array('文章管理','M'))}
								<form method="post" name="form_adv_search" id="form_adv_search">
									<input type="hidden" name="search_key" id="search_key" value="{$_POST['search_key']}" />
									<div id="adv_search" class="adv_search panel panel-default displayNone" style="display: none;">
										<div class="panel-heading">
											<div class="row">
												<h4 class="col-xs-6">高级搜索</h4>
												<div class="col-xs-6 text-right">
													<a  class="btn btn-sm btn-info" onclick="submit_adv_search();">搜索</a>
													<a  class="btn btn-sm btn-default" onclick="close_adv_search();">关闭</a>
												</div>
											</div>
										</div>
										<div class="panel-body">
											<div class="form-group col-sm-6">
												<label for="li_title" class="col-sm-3 control-label">文章标题：</label>
												<div class="col-sm-8">
													<input type="text" name="li_name" id="li_name" class="form-control" value="{$_POST['li_name']}"/>
												</div>
											</div>
											<div class="form-group col-sm-6">
												<label for="eq_tag" class="col-sm-3 control-label">文章标签：</label>
												<div class="col-sm-3">
													<select name="eq_tag" id="eq_tag" class="form-control text-center">
														<option value="">--全部--</option>
														{:fill_option($tag_list,$_POST['eq_tag'])}
													</select>
												</div>
											</div>
										</div>
									</div>
								</form>
								<div class="operate panel panel-default">
									<div class="panel-body">
										<div class="pull-right">
											<a onclick="add()" class="btn btn-primary">新增</a>
											|
											<a onclick="del()"  class="btn btn-danger">删除</a>
										</div>
									</div>
								</div>
								<div class="ul_table message-container">
									<ul>
									<li class="thead">
										<div class="pull-left">
											<span class="col-10">
												<label><input type="checkbox" name="id-article-all" id="id-article-all"/></label>
											</span>
											<span class="col-20">文章名称</span>
											<span class="col-16">标签</span>
											<span class="col-16">作者</span>
										</div>
										<div class="pull-right">
											<span class="auto autocut">外部链接</span>
										</div>
									</li>	
									<empty name="list">
										<li class="no-data">
											你还没有添加文章!
										</li>
									<else />
									<form method="post" action="" id="form_data">
									<foreach name="list" item="vo">
									<li class="tbody">
										<div class="pull-left">
											<span class="col-10"><label><input type="checkbox" name="article_id[]" value="{$vo.id}"/></label></span>
											<span class="col-20"><a href="{:U('edit','id='.$vo['id'])}">{$vo.name}</a></span>
											<span class="col-16">{:get_tag_name($vo['tag'])}</span>
											<span class="col-16"><empty name="vo.author">-<else/>{$vo.author}</empty></span>
										</div>
										<div class="pull-right">
											<span class="auto autocut" style="word-wrap : break-word;padding-left:5px;"><empty name="vo.url">-<else/><a href="{$vo.url}" target="_blank">{$vo.url}</a></empty></span>
										</div>
									</li>
									</foreach>
									</form>
									</empty>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
