<include file="Common:header" />
		<main class="main_container">
			<div class="container_box">
				<div class="main_left" id="main_left">
					<div id="user_info">
						<span>当前用户：{$Think.session.user_name}</span>
					</div>
					<div id="left_head" onclick="toggle_left_menu()">
						<span>设置</span>
						<b class="fa fa-angle-down pull-right" id="left_menu_icon"></b>
					</div>
					<ul id="left_menu" class="nav nav-list">
						<li>
							<a href="{:U('Article/index')}">
								<i class="fa fa-angle-right"></i>
								<span class="menu_text">用户管理</span>
							</a>
						</li>
						<li>
							<a href="{:U('Article/add')}">
								<i class="fa fa-angle-right"></i>
								<span class="menu_text">权限管理</span>
							</a>
						</li>
						<li>
							<a href="{:U('ArticleTag/index')}">
								<i class="fa fa-angle-right"></i>
								<span class="menu_text">菜单管理</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="main_content">
					<div id="breadcrumbs" class="breadcrumbs">
						<ul class="breadcrumb">
							<li><i class="fa fa-home home-icon"></i><a href="/">Home</a></li>
							<li>文章</li>
							<li>文章列表</li>
						</ul>
					</div>
					<div class="page_content">
						<div class="row">
							<div class="col-xs-12">
								{:W('PageHeader/Render',array('文章管理','S'))}
								<form method="post" name="form_adv_search" id="form_adv_search">
								<div class="operate panel panel-default">
									<div class="panel-body">
										<div class="pull-left">
										<label  for="eq_is_del"><b>状态:</b></label>
										<select id="eq_is_del" name="eq_is_del" class="col-10" onchange="submit_adv_search();">
											<option value="0">启用</option>
											<option value="1">禁用</option>
											<option value="2">其他</option>
										</select>
										</div>
										<div class="pull-right">
											<a onclick="reset_pwd()" class="btn btn-primary">设置密码</a>
											|
											<a onclick="add()" class="btn btn-primary">新增</a>
											<a onclick="save()" class="btn btn-success">保存</a>
											|
											<a onclick="del()"  class="btn btn-danger">删除</a>
										</div>
									</div>
								</div>
								</form>
								<div class="row">
									<div class="col-sm-4 sub_left_menu ">
										<table class="table table-bordered">
											<thead>
												<tr>
													<th>账户</th>
													<th>昵称</th>
													<th>状态</th>
												</tr>
											</thead>
											<tbody>
												<volist name="list" id="data">
													<tr id="{$data.id}">
														<td>{$data.account}</td>
														<td>{$data.user_name}</td>
														<td>{$data.is_lock|get_lock}</td>
													</tr>
												</volist>
											</tbody>
										</table>
									</div>
									<div class="col-sm-8">
										<form name="form_data" id="form_data" method="post" class="form-horizontal">
											<input type="hidden" name="id" id="id">
											<input type="hidden" name="face" id="face" >
											<input type="hidden" name="opmode" id="opmode" value="edit">
											<table class="table table-bordered">
												<tr>
													<th>账户<font color="red">*</font></th>
													<td colspan="2"><input type="text" name="account" id="account" class="form-control" check="required" msg="请输入账户名称"/></td>
												</tr>
												<tr>
													<th>姓名<font color="red">*</font></th>
													<td colspan="2"><input type="text" name="account" id="account" class="form-control" check="required" msg="请输入姓名"/></td>
												</tr>
												<tr>
													<th>状态</th>
													<td colspan="2">
													<select name="is_lock" class="col-10">
														<option value="0">启用</option>
														<option value="1">禁用</option>
													</select>
													</td>
												</tr>
											</table>
										</form>
									</div>
									<div id="page">
										{$page}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
